<?xml version="1.0"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  
  Description : Fichier Web.config
  Programmé par : François Légaré
  Le : 3 février 2014
  Historique des modifications
  Par : François Légaré
  Le : 17 mars 2014
  Modifications : Ajout des erreurs custom
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="On" defaultRedirect="Erreur.html">
      <error statusCode="404" redirect="404.aspx" />
    </customErrors>
    <membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add
           name="SqlMembershipProvider"
           type="System.Web.Security.SqlMembershipProvider"
           connectionStringName="ConnectionStringAcharEnLigne2017"
           passwordFormat="Hashed"
           minRequiredPasswordLength="8"
           minRequiredNonalphanumericCharacters="0"
           requiresQuestionAndAnswer="false" />
      </providers>
    </membership>
    <pages maintainScrollPositionOnPostBack="true" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" port="587" userName="legarefrancoispp@gmail.com" password="qw1as2zx3" enableSsl="true" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <!-- ******** Machine locale ******** -->
    <add name="ConnectionStringAcharEnLigne2017" 
       connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\AcharEnLigne2017.mdf; Integrated Security=True" 
       providerName="System.Data.SqlClient"/>
    <!-- ******** Serveur de développement******** -->
    <!--
   <add name="ConnectionStringAcharEnLigne2017" 
      connectionString="Data Source=AcharEnLigne2017.mssql.somee.com;Initial Catalog=AcharEnLigne2017;User Id=Frank100839_SQLLogin_1;Password=vbzoj68vis" 
      providerName="System.Data.SqlClient" />
   -->
    <!-- ******** Serveur de production ******** -->
    <!--
   <add name="ConnectionStringAcharEnLigne2017" 
      connectionString="Data Source=SRV-INFO-WEB2;Initial Catalog=AcharEnLigne2017;User Id=etudiant;Password=12345" 
      providerName="System.Data.SqlClient" />
   -->
  </connectionStrings>
</configuration>